---
---

<div class="nu-demo not-content">
    <slot />
</div>

<style>
    .nu-demo {
        padding: 1.25rem;
        margin: 1rem 0;
        font-size: var(--sl-text-sm);
        line-height: 2;
        background: var(--nu-card-bg);
        border: 1px solid var(--nu-border-color);
    }
</style>
